body {
  color: #05264e;
  font-family: Plus Jakarta Sans, sans-serif;
  font-style: normal;
}

.mb-20{
  margin-bottom: 10rem;
}

.box-banner {
  background-color: #f2f6fd;
  border-radius: 16px;
}

.box-banner-header {
  font-size: 28px !important;
}
.box-banner-header-22Jobs {
  color: #3c65f5;
}

.box-banner-text {
  color: #66789c;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 22px !important;
}

.box-banner-image1 {
  position: absolute;
  left: 75%;
  top:8%
}

.box-banner-image2 {
  position: absolute;
  right:74%;
  top:5%;
}

@media screen and (max-width:1000px){
    .box-banner-image1{
        display:none;
    }
    .box-banner-image2{
        display:none;
    }
}

.head-border {
  border-bottom: 1px solid #b4c0e0;
  padding-bottom: 10px;
}

.link-reset {
  font-size: 14px;
  color: #66789c;
  float: right;
  text-decoration: none;
}


.form-group {
  position: relative;
}

.form-icons {
  padding-left: 50px !important;
}

.form-control {
  border: 1px solid #e0e6f7;
  padding: 10px ;
  width: 300px;
}

.location-icon {
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 18px;
  color: #a0abb8;
  width: 25px;
}

.ul,
li {
  list-style: none !important;
}

.autocomplete-container {
  position: relative;
  width: 100%;
}

.no-outline:focus{
  outline: none;
}
.suggestions-dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-dropdown li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions-dropdown li:last-child {
  border-bottom: none;
}

.suggestions-dropdown li:hover {
  background-color: #f0f0f0;
}


.list-checkbox {
  display: inline-block;
  width: 100%;
  padding: 15px 0 10px;
  border-bottom: 1px solid #e0e6f7;
}

.filter-category-industry {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
}

.text-small {
  font-weight: 500;
  font-size: 18px;
  color: #4f5e64;
  line-height: 22px;
  padding-left: 20px;
}

.number-item {
  padding: 1px 5px;
  background: #e0e6f7;
  color: #3c65f5;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  border-radius: 7px;
  right: 0px;
}

